.container {
  margin-left: 57px;
}

.avatar {
  width: 280px;
  height: 280px;
  margin-top: 39px;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
}

.name {
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  margin-top: 29px;
}

.login {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 12px;
}

.login a {
  text-decoration: none;
  color: #0064eb;
}

.follows {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  margin-top: 25px;
}

.icon-container {
  display: flex;
}

.followers {
  display: flex;
  align-items: center;
  width: 163px;
}

.followers-img {
  width: 16.06px;
  height: 16px;
}

.following {
  display: flex;
  align-items: center;
  width: 150px;
}

.following-img {
  width: 22.08px;
  height: 14px;
}
