.header {
  height: 72px;
  display: flex;
  align-items: center;
  background: #0064eb;
}

.logo {
  width: 41px;
  height: 40px;
  margin: 16px 22px 16px 41px;
}

.search {
  background-color: white;
  width: 500px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.icon-container {
  display: flex;
}

.icon {
  width: 14px;
  height: 14px;
  margin-left: 19px;
  margin-right: 13px;
}

.input {
  width: 88%;
  border: none;
  outline: none;
}
